.editor__area-block {
  display: flex;
  width: 100%;
  padding: 10px 0;
  background-color: #424753;
  color: #fff;
}

.editor__area-line {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 5%;
  text-align: center;
}

.editor__area-line-text {
  font-size: 16px;
  color: #ddd;
}

.editor__area {
  display: block;
  resize: none;
  min-height: 70vh;
  width: 95%;
  border: none;
  font-size: 16px;
  padding-right: 15px;
  outline: none;
  background-color: #424753;
  color: #fff;
}

.editor__result-block {
  background-color: #000;
  font-size: 16px;
  color: #fff;
  width: 100%;
  min-height: 30vh;
  padding: 10px 15px;
  border-top: 1px solid #fff;
}

.editor__result-block-title {
  font-weight: bold;
  margin-right: 5px;
}
